$base-color-yellow: #FACA3F;
$base-color-blue: #2C6E9B;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; // happy rems

    @media all and(max-width: 1366px) {
        font-size: 56%;
    }
}

// Tymczasowe zmniejszenie obrazów aby nie rozpychały okna przeglądarki
img {
    width: 50%;
}
//

body {
    background-image: url("../images/background.png");
    background-color: black;
    font-size: 1.6rem; // happy rems
    font-family: 'Roboto', sans-serif;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
}

.box {
    max-width: 1400px;
    flex-basis: 1400px;
    margin: 0 auto;

    @media all and(max-width: 1366px) {
        max-width: 1024px;
    }

    @media all and(max-width: 1024px) {
        max-width: 700px;
    }
}

.visible {
    display: flex !important;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    position: relative;

    .logo {
        color: $base-color-yellow;
        font-size: 2.5rem;
    }

    &.mobile {
        flex-direction: column;

        .logo {
            align-self: flex-start;
        }

        #navigation {
            flex-direction: column;
            padding-top: 60px;
            padding-bottom: 60px;
            position: absolute;
            transform: translateX(-50%);
            background: black;
            width: 80vw;
            background: rgba(black, 0.8);

            li {
                text-align: center;
            }
        }

        #hamburgermenu {
            transform: inherit;
            top: 22%;
        }
    }

    #navigation {
        display: flex;
        gap: 50px;
        list-style: none;
        font-size: 1.9rem;

        li a:hover {
            color: $base-color-yellow;
        }
    }

    #hamburgermenu {
        width: 3.5rem;
        height: 3.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 101;
        right: 25px;
        cursor: pointer;
        display: none;

        .bar {
            width: 2.5rem;
            height: 3px;
            background-color: white;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            border-radius: 2px;
            transition: .3s;

            &.mobile {
                top: 15px;
            }

            &:before,
            &:after {
                border-radius: 2px;
                content: "";
                width: 2.5rem;
                height: 3px;
                background-color: white;
                top: -10px;
                position: absolute;
                transition: .3s;
            }

            &:after {
                top: 10px;
            }

            &.active {
                width: 0;
                top: 50%;

                &:before {
                    transform: rotate(45deg) scaleX(1.2);
                    top: 0px;
                }

                &:after {
                    transform: rotate(-45deg) scaleX(1.2);
                    top: 0px;
                }
            }
        }
    }

    @media all and(max-width: 1024px) {
        #navigation {
            display: none;
        }

        #hamburgermenu {
            display: block;
        }
    }

    @media all and(min-width: 1024px) {
        &.mobile {
            flex-direction: row !important;

            #navigation {
                flex-direction: row;
                position: relative;
                padding-top: 0;
                transform: translateX(0);
                background: none;
                padding-bottom: 0;
                justify-content: flex-end;
            }
        }
    }

    @media all and(max-width: 767px) {
        &.mobile #navigation {
            width: 100vw;
        }
    }
}

.firstlook {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .firstlook-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .firstlook-container_p {
            letter-spacing: 1.5rem;
            padding-left: 4px;
        }

        .firstlook-container_h1 {
            font-weight: bold;
            font-size: 7.4rem;

            span {
                color: $base-color-yellow;
            }
        }

        .firstlook-container_img {
            width: 56rem;
        }
    }

    @media (max-width: 1366px) {
        .firstlook-container {
            .firstlook-container_p {
                font-size: 1.2rem;
            }

            .firstlook-container_h1 {
                font-size: 6rem;
            }
        }
    }

    @media all and(max-width: 1029px) {
        .firstlook-container {
            flex-direction: column;

            .firstlook-container_p {
                font-size: 1rem;
            }

            .firstlook-container_img {
                margin-top: 10rem;
            }
        }
    }


    @media all and(max-width: 767px) {
        .firstlook-container {
            .firstlook-container_p {
                font-size: .7rem;
                letter-spacing: 1rem;
            }

            .firstlook-container_h1 {
                font-size: 4rem;
            }

            .firstlook-container_img {
                width: 30rem;
            }
        }
    }
}

.about {
    display: flex;
    position: relative;

    .left-block {
        background: $base-color-yellow;
        position: relative;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 2rem 0;

        .left-block-container {
            border: 2px solid black;
            border-radius: 25px;
            background: white;
            color: black;
            width: 35rem;
            margin: 8rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            position: relative;

            img {
                top: -50%;
                position: absolute;
                width: 115px;
            }

            .left-block-container-name {
                font-size: 2rem;
                font-weight: bold;
                color: $base-color-blue;
                margin-top: 40px;
            }

            .left-block-container-desc {
                font-size: 1.5rem;
                text-align: center;
                padding: 2rem 1rem 1rem 1rem;
            }
        }
    }

    .right-block {
        background: $base-color-blue;
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 80px 0;

        p {
            display: block;
            font-weight: 500;
            width: 50%;
            letter-spacing: 1px;
            line-height: 30px;
        }
    }

    .decorationWindow-img {
        position: absolute;
        left: 50%;
        top: 47%;
        transform: translate(-50%, -50%);
        width: 150px;
    }

    @media(max-width: 1030px) {
        flex-direction: column;

        .decorationWindow {
            height: 0;

            .decorationWindow-img {
                width: 140px;
                top: -5px;
                position: relative;
            }
        }
    }

    @media(max-width: 767px) {
       .left-block{

           .left-block-container{
               margin: 12rem 0;
                img{
                    width: 100px;
                    top: -44%;
                }
           }
       }

       .right-block{
           padding: 90px 0;
           p{
                max-width: 450px;
                width: auto;
                padding: 0 20px;
           }
       } 

        .decorationWindow .decorationWindow-img {
            width: 120px;
        }
    }
}