*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    // background-image: url("../images/background.png");
    // background-color: black;
    font-size: 1.6rem; // happy rems
    font-family: 'Roboto', sans-serif;
}